*{
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(175, 209, 232);
    max-width: 60em;
    margin: 2em auto;
    font-family: Arial, Helvetica, serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.menu {
    display: flex;
    padding:0;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
.liste{
    padding:0;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
ul li{
    list-style-type: none;
}
ul a{
    display:block;
    min-width: 120px;

    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    background-color: #1ABC9C;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 1s ;
}
ul a:hover{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}
h1{
    margin-bottom: 50px;
}
img{
    width:10em;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-top: .5em;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination a[aria-current="page"] {
    background-color: #333;
    color: #fff;
}
hr{
    margin-top: 1em;
}


